.legendas {
    background: #F5F5F5;
    margin-top: 8px;
    padding: 8px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.texto {
    margin-right: 30px;
    display: flex;
    align-items: center;
}

.caixa-vermelha {
    width: 20px;
    height: 20px;
    border-radius: 4px;
    background-color: #FF5959;
    margin-right: 5px;
}

.caixa-amarela {
    width: 20px;
    height: 20px;
    border-radius: 4px;
    background-color: #FEDE99;
    margin-right: 5px;
}

.caixa-azul {
    width: 20px;
    height: 20px;
    border-radius: 4px;
    background-color: #9999FF;
    margin-right: 5px;
}

.caixa-verde {
    width: 20px;
    height: 20px;
    border-radius: 4px;
    background-color: #99FF99;
    margin-right: 5px;
}

.grafico-borda{
  border: 1px solid #f1f0f0; 
  border-radius: 4px;
  background-color: white; 
  margin-top: 16px;
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.12)
}

/*.grafico-borda div {
  padding: 32px 16px 16px 16px;
}*/


.ajuste-padding-grafico-card .ant-card .ant-card-body {
  padding: 32px 16px 0px 16px !important;
}

.desempenho-por-materia-espacamento {
  padding-top:32px
}

.desempenho-por-materia-titulo-barra {
  margin-bottom: 8px; 
}

svg .recharts-surface {
  height: 0px;
  width: 0px;
}