.legendas {
    background: #F5F5F5;
    padding: 10px;
    margin: 10px 0;
    display: flex;
    align-items: center; /* ✅ this aligns boxes and text vertically */
    flex-wrap: wrap; /* optional if you want them to wrap on smaller screens */
    gap: 10px;
}

.texto {
    margin-right: 30px;
    display: flex;
    align-items: center; /* ensures text stays centered if multi-line */
}

.caixa-vermelha {
    width: 20px;
    height: 20px;
    border-radius: 4px;
    background-color: #FF5959;
    margin-right: 5px;
}

.caixa-amarela {
    width: 20px;
    height: 20px;
    border-radius: 4px;
    background-color: #FEDE99;
    margin-right: 5px;
}

.caixa-azul {
    width: 20px;
    height: 20px;
    border-radius: 4px;
    background-color: #9999FF;
    margin-right: 5px;
}

.caixa-verde {
    width: 20px;
    height: 20px;
    border-radius: 4px;
    background-color: #99FF99;
    margin-right: 5px;
}

.grafico-borda{
  border: 1px solid #f1f0f0; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: white; 
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
  margin-top: 16px;
}

/*.grafico-borda div {
  padding: 32px 16px 16px 16px;
}*/


.ajuste-padding-grafico-card .ant-card .ant-card-body {
  padding: 32px 16px 16px 16px !important;
}