@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

.tabela-comparativa-titulo {
    color: #595959;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 700;
    height: 32px;
}

.tabela-comparativa-descricao {
    display: flex;
    justify-content: space-between;
}

.tabela-comparativa-descricao-texto {
    font-size: 14px;
    color: #595959;
}

.tabela-comparativa-labels{
    display: flex;
}

.tabela-comparativa-labels-item{
    font-size: 14px;
    font-weight: 700;
    color: #595959;
    margin-left: 0.5em;   
    padding: 0px 8px 5px 8px;
    height: 20px;
    border: solid 1px #5A94D8;
    border-radius: 4px;
}

.tabela-comparativa-variacao-card .ant-card-body{
    padding: 16px !important;
}

.tabela-comparativa-variacao{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border: solid 1px #DADADA;
    border-radius: 4px;
    width: 154px;
    padding: 5px 8px 5px 8px;
    float: right;
    margin-bottom: 25px;
}

.tabela-comparativa-variacao-label{
    color: #595959;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.2;
    height: 17px;
    width: 56px;
    float: right;
    
}

.tabela-comparativa-variacao-valor{
      background: #21C45D;
      color: #ffffff;
      font-family: 'Roboto', sans-serif;
      float: right;
      margin-left: 0.5em;
      border-radius: 4px;
      width: 94px;
      text-align: center;
      font-weight: 700;
}