.legenda-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 30px;
    background-color: white;
}

.legenda-titulo { 
    font-weight: bold;
    flex-grow: 1;
    text-align: left;
    color: #595959 !important;
    padding-right: 20px;
}

.legenda-itens { 
    display: flex; 
    gap: 15px;
    color: #595959;
}

.legenda-item {
    padding-left: 0px;
    display: inline-flex; 
    align-items: center;
}

.legenda-cor-caixa{
    width: 20px;
    height: 20px;
    display: inline-block;
    border-radius: 4px;
    margin-right:5px;
    
}

.legenda-texto { 
    font-size:13px;
    color: #595959;
}
