.tooltip-customizada {
    background-color: #d3d3d3;
    color: black;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #999;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}
  
.tooltip-label {
    font-weight: bold;
    margin-bottom: 5px;
}

.tooltip-item {
    margin: 0;
}