.tooltip-customizada {
    background-color: #EDEDED;
    color: #595959;
    padding: 10px;
    border-radius: 5px;
    border: 0px solid #EDEDED;  
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);  
}
  
.tooltip-label {
    font-weight: bold;
    margin-bottom: 5px;
}

.tooltip-item {
    margin: 0;
}