.comparar-dados-caixa-cinza {
  background-color: #F5F5F5;
  border-radius: 4px 4px 4px 4px;
  padding: 16px 24px 16px 24px;
  display: flex;
}

.comparar-dados-caixa-texto {
}

.comparar-dados-filtros-card {
  margin-left: 32px;
  display: flex;
}

.comparar-dados-selects {
  padding-left: 8px;
  width: 192px;
}
