.cabecalho {
  width: 100%;
  padding: 0;
  background: #fcfcfc;
}

.linha-superior {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.retornar {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.icone-retorno {
  font-size: 16px;
  margin-right: 8px;
  color: #5a94d8;
}

.texto-retorno {
  color: #5a94d8;
  font-size: 14px;
}

.titulo-principal {
  flex-grow: 1;
  text-align: center;
  margin: 0;
  color: #5a94d8;
  font-size: 24px;
}

.barra-azul {
  background: #5a94d8;
  padding: 20px 20px 20px 35px;
}

.breadcrumb {
  color: #fff;
}

.breadcrumb .ant-breadcrumb-link {
  color: #fff !important;
}

.titulo-secundario {
  color: #fff;
  margin-top: 10px;
  font-size: 30px;
}
