.secao-sobre-estudantes {
  padding-bottom: 10px;
  color: #595959;
}

.secao-titulo-estudantes {
  color: #595959;
  font-size: 14px;
  font-weight: bold;
}

.secao-titulo-disciplinas {
  color: #595959;
  font-size: 12px;
  font-weight: bold;
}
