:root {
  font-family: Roboto, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #ededed;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.conteudo-principal {
  margin-right: 35px;
  margin-left: 35px;
  padding-top: 15px;
}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #595959 !important;
  font-weight: bold;
}

.ant-tabs-tab:hover .ant-tabs-tab-btn {
  color: #595959 !important;
}

.ant-tabs-tab .ant-tabs-tab-btn {
  color: #595959 !important;
}

.download-section {
  height: auto;
  background-color: #ededed;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 92px;
  padding: 10px;
}

.download-wrapper {
  display: flex;
  align-items: center;
  gap: 12px;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.ant-notification-notice {
  border-radius: 15px !important;
  background: #f5f5f5 !important;
  box-shadow: none !important;
  overflow: hidden !important;
}

.titulo-principal {
  color: #595959;
}

.ant-card-head {
  border-bottom: none !important;
}

.cabecalho {
  width: 100%;
  padding: 0;
  background: #ededed;
  z-index: 1000;
  height: 200px;
}

.linha-superior {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0px 10px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  height: 60px;
  position: relative;
}

.titulo-principal {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: #5a94d8;
  font-size: 24px;
}

.retornar {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.icone-retorno {
  font-size: 16px;
  margin-right: 8px;
  color: #5a94d8;
}

.texto-retorno {
  color: #5a94d8;
  font-size: 14px;
}

.barra-azul {
  background: #5a94d8;
  padding: 20px 20px 20px 35px;
}

.breadcrumb {
  color: #fff;
}

.breadcrumb .ant-breadcrumb-link {
  color: #fff !important;
}

.titulo-secundario {
  color: #fff;
  margin-top: 10px;
  font-size: 30px;
}
.ant-breadcrumb-separator {
  color: #fff !important;
}

.conteudo-principal-ues {
  margin-right: 35px;
  margin-left: 35px;
  padding-top: 190px;
}

.informacao-blue {
  background: #5A94D8;
  color: white;
  padding: 8px 32px 8px 32px;
  border-radius: 4px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;  
  font-size: 14px;
  text-align: left;  
}
