:root {
  font-family: Roboto, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #ededed;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.conteudo-principal {
  margin-right: 35px;
  margin-left: 35px;
  padding-top: 15px;
}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #595959 !important;
}

.ant-tabs-tab:hover .ant-tabs-tab-btn {
  color: #595959 !important;
}
